<!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Products/</span> Edit Products</h4>

              <!-- Basic Layout -->
              <div class="row">
                <div class="col-xl">
                  <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                      <h5 class="mb-0">Edit Products</h5>
                      <small class="text-muted float-end"></small>
                    </div>
                    <div class="card-body">
                      <form action="/admin/edit-product/<%= product._id %>" method="POST" role="form" enctype="multipart/form-data">
                        <div class="mb-3">
                          <label class="form-label" for="basic-default-fullname">Name</label>
                          <input type="text" name="Name" class="form-control" id="basic-default-fullname" value="<%= product.Name %>" required />
                        </div>
                        <div class="mb-3">
                          <label class="form-label" for="basic-default-company">Price</label>
                          <input type="number" name="Price" class="form-control" id="basic-default-company" value="<%= product.Price %>" required />
                        </div>
                        <div class="mb-3">
                          <label class="form-label" for="basic-default-fullname">Category</label>
                          <select class="form-select" name="Category" aria-label="Default select example" id="category-selection">
                              <option value="<%= product.Category %>" selected><%= product.Category %></option>
                              <% categories.forEach(element => { %>
                               <option value="<%= element.CategoryName %>"><%= element.CategoryName %></option>
                              <% }) %>
                          </select>
                        </div>

                          <div class="mb-3">
                          <label class="form-label" for="basic-default-fullname">Sub Category</label>
                          <select class="form-select" name="subCategory" aria-label="Default select example" id="subcategory-selection">
                              
                          </select>
                        </div>
                        
                        <div class="mb-3">
                          <label class="form-label" for="basic-default-message">Description</label>
                          <input
                            id="basic-default-message"  name="Description"
                            class="form-control"
                            value="<%= product.Description %>" required
                          ></input>
                        </div>

                          <div class="row mb-3">
                          <div class="col">
                            <label class="form-label" for="basic-default-message">Offer</label>
                          <input type="number"
                            id="basic-default-message"  name="productOffer"
                            class="form-control" value="<%=  product.productOffer%>"
                            placeholder="Enter offer in %" 
                          ></input>
                          </div>
                          <div class="col">
                            <label class="form-label" for="basic-default-message">Stock</label>
                          <input type="number"
                            id="basic-default-message"  name="Stock" value="<%=  product.Stock%>"
                            class="form-control"
                          ></input>
                          </div>
                        </div>
                        

                        <div class="mb-3">
                          <label for="formFileMultiple" class="form-label">Upload image</label>
                          <% for( let index = 0; index < product.Image.length; index++ ) { %>
                            <img style="width: 5em; height: 6em" src="/uploads/<%= product.Image[index] %> " alt="<%= product.Image %>" id="imgView">
                          <% } %>
                          
                          <input class="form-control mt-3" name="Image" type="file" id="formFileMultiple" onchange="viewImage(event)" multiple />
                        </div>

                        <button type="submit" class="btn btn-primary ">Update </button>
                      </form>
                    </div>
                  </div>
                </div>
                
                  
                </div>
              </div>
            </div>
            <!-- / Content -->

            <script>
              function viewImage(event){
                document.getElementById('imgView').src = URL.createObjectURL(event.target.files[0])
              }
            </script>

          