<!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Category/</span> Category List</h4>

              <!-- Basic Layout -->
              <div class="row">
                <div class="col-xl-4">
                  <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                      <h5 class="mb-0">Add Category</h5>
                      <small class="text-muted float-end"></small>
                    </div>

                    

                    <div class="card-body">
                      <% if (CategoryAdded) { %>
                    <div class="alert alert-success" role="alert">
                        Category has been added
                    </div>
                    <% } %> 
                      <form action="/admin/add-category" method="POST" role="form" enctype="multipart/form-data">
                        <!-- <div class="mb-3">
                          <label class="form-label" for="basic-default-fullname">Category Name</label>
                          <input type="text" name="CategoryName" class="form-control" id="basic-default-fullname" placeholder="Men" required/>
                          <select class="form-select" name="CategoryName" aria-label="Default select example" id="category-value">
                              <option selected>Open this select menu</option>
                              <option value="Women">Women</option>
                              <option value="Men">Men</option>
                              <option value="Accessories">Accessories</option>
                          </select>
                        </div> -->
                        

                        <div class="mb-3">
                          <label class="form-label" for="basic-default-message">Category</label>
                          <input
                            id="basic-default-message"  name="CategoryName"
                            class="form-control"
                            placeholder="Category" required
                          ></input>
                        </div>

                        
                        
                        <div class="mb-3">
                          <label class="form-label" for="basic-default-message">Category Description</label>
                          <input
                            id="basic-default-message"  name="CategoryDescription"
                            class="form-control"
                            placeholder="This is for Men" required
                          ></input>
                        </div>

                        <input
                            id="basic-default-message"  name="subCategory"
                            class="form-control"  hidden
                          ></input>

                        <div class="row mb-3">
                          <div class="col">
                            <label class="form-label" for="basic-default-message">Category Offer</label>
                          <input type="number"
                            id="basic-default-message"  name="CategoryOffer"
                            class="form-control"
                            placeholder="Enter offer in %" 
                          ></input>
                          </div>
                          <div class="col">
                            <label class="form-label" for="basic-default-message">Category Offer Expiry</label>
                          <input type="date"
                            id="basic-default-message"  name="CategoryaExpiryDate"
                            class="form-control"
                          ></input>
                          </div>
                        </div>

                        <div class="mb-3">
                          <label for="formFileMultiple" class="form-label">Upload image</label>
                          <input class="form-control" name="CategoryImage" type="file" id="formFileMultiple" multiple />
                        </div>

                        <button type="submit" class="btn btn-primary ">Add Category</button>
                      </form>
                    </div>
                  </div>
                </div>
                

                <div class="col-xl-8">
                    <!-- Basic Bootstrap Table -->
              <div class="card">
                <h5 class="card-header">Category List</h5>
                <div class="table-responsive text-nowrap">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>No.</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Offer%</th>
                        <th>Image</th>
                        <th>Options</th>
                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                      <%let index = 1 ; for( let i = 0 , index = 1; i < categories.length; i++ ) { %>
                          
                          
                          <tr>
                            <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong><%= index %></strong></td>
                            <td><%=  categories[i].CategoryName%></td>
                            <td><%=  categories[i].CategoryDescription%></td>
                            <% if (categories[i].CategoryOffer) { %>
                              <td><%=  categories[i].CategoryOffer%>%</td>
                            <% } else { %>
                              <td></td>
                            <% } %>
                            <td>
                              <% if ((categories[i].CategoryImage).length != 0) { %>
                               <img style="width: 3em; height: 3em" src="/uploads/category/<%= categories[i].CategoryImage%>  " alt="<%= categories[i].CategoryImage %>"></td>
                              <% } %>
                            <td>
                                <a href="/admin/edit-category/<%=  categories[i]._id%>" class="btn btn-primary">Edit</a>
                                <a href="/admin/delete-category/<%=  categories[i]._id%>" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete <%=  categories[i].CategoryName%> ?')">Delete</a>
                            </td>
                            
                          </tr>
                      <tr>
                      <%index++; } %>
                       
                       
                    </tbody>
                  </table>
                </div>
              </div>
              <!--/ Basic Bootstrap Table -->

                </div>
                
                
                  
                </div>
              </div>
            </div>
            <!-- / Content -->