<!-- Shoping Cart -->
<form class="bg0 p-t-75 p-b-85">
  <div class="container">
    <% if (orders.length == 0) { %>
    <h1 class="text-center mt-5">Empty Order List</h1>
    <% } else { %>

    <div class="card">
      <h5 class="card-header">Order List</h5>
      <div class="table-responsive text-nowrap">
        <table class="table">
          <thead>
            <tr>
              <!-- <th>Date</th> -->
              <th>Address</th>
              <th>ZIP Code</th>
              <th>Phone No.</th>
              <th>Payment</th>
              <th>Products</th>
              <th>Total Amount</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody class="table-border-bottom-0">
            <%orders.forEach(element => { %>
            <tr>
              <!-- <td>
                <%#let date =  element.Date.toString()%>
                <%#let result = date.slice(0,25) %>  
                <p> <%#= date %> </p>
              </td> -->
              <td>
                <pre>
<%= element.deliveryDetails.address%>,<%= element.deliveryDetails.city%>,
<%= element.deliveryDetails.state%>,<%= element.deliveryDetails.country%>
                </pre>
              </td>
              <td><%= element.deliveryDetails.zip%></td>
              <td><%= element.deliveryDetails.telephone%></td>
              <td><%= element.paymentMethod%></td>
              <% noOfProducts = element.products.length %>
              <td><%= noOfProducts%> item</td>
              <td><%= element.totalAmount%></td>
              <td><%= element.orderStatus%></td>
              <td>
                <% if (element.orderStatus == "ordered") { %>
                <span class="text-warning">Ordered</span>
                <% } else if(element.orderStatus == "shipped") { %>
                <span class="text-secondary">Shipped</span>
                <% } else if(element.orderStatus == "delivered") { %>
                <span class="text-primary">Delivered</span>
                <% } else if(element.orderStatus == "canceled") { %>
                <span class="text-danger">Canceled</span>
                <% } else if(element.orderStatus == "completed") { %>
                <span class="text-success">Completed</span>
                <% } else if(element.orderStatus == "returned") { %>
                <span class="text-info">Returned</span>
                <% } else if(element.orderStatus == "refunded") { %>
                <span class="text-info">Refunded</span>
                <% } %>
              </td>

              <td>
                <a href="/view-Order-Product/<%= element._id %>"
                  >View Products</a
                >
              </td>
            </tr>

            <% }) %>
          </tbody>
        </table>
      </div>
    </div>

    <% } %>
  </div>
</form>
