<!-- Profile CSS -->
<link
  href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<link
  rel="shortcut icon"
  type="image/x-icon"
  href="assets/imgs/theme/favicon.svg"
/>

<link rel="stylesheet" type="text/css" href="profilePage/assets/css/main.css" />

<!-- Shoping Cart -->
<form class="bg0 p-t-75 p-b-85">
  <div class="container">
    <div class="row" style="margin-top: 130px">
      <div class="col-lg-10 m-auto">
        <div class="row">
          <div class="col-md-4">
            <div class="dashboard-menu">
              <ul class="nav flex-column" role="tablist">
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    id="dashboard-tab"
                    data-bs-toggle="tab"
                    href="#dashboard"
                    role="tab"
                    aria-controls="dashboard"
                    aria-selected="false"
                    ><i class="fi-rs-settings-sliders mr-10"></i>Dashboard</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    id="orders-tab"
                    data-bs-toggle="tab"
                    href="#orders"
                    role="tab"
                    aria-controls="orders"
                    aria-selected="false"
                    ><i class="fi-rs-shopping-bag mr-10"></i>Orders</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    id="wallet-tab"
                    data-bs-toggle="tab"
                    href="#wallet"
                    role="tab"
                    aria-controls="track-orders"
                    aria-selected="false"
                    ><i class="fi-rs-shopping-cart-check mr-10"></i>Wallet &
                    Referal Code</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    id="address-tab"
                    data-bs-toggle="tab"
                    href="#address"
                    role="tab"
                    aria-controls="address"
                    aria-selected="true"
                    ><i class="fi-rs-marker mr-10"></i>My Address</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    id="account-detail-tab"
                    data-bs-toggle="tab"
                    href="#account-detail"
                    role="tab"
                    aria-controls="account-detail"
                    aria-selected="true"
                    ><i class="fi-rs-user mr-10"></i>Account details</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/logout"
                    ><i class="fi-rs-sign-out mr-10"></i>Logout</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-8">
            <div class="tab-content dashboard-content">
              <div
                class="tab-pane fade active show"
                id="dashboard"
                role="tabpanel"
                aria-labelledby="dashboard-tab"
              >
                <div class="card">
                  <div class="card-header">
                    <% let userName = userDetails.Name.toUpperCase()%>
                    <h5 class="mb-0">Hello <%= userName %> !</h5>
                  </div>
                  <div class="card-body">
                    <p>
                      From your account dashboard. you can easily check &amp;
                      view your <a href="#">recent orders</a>, manage your
                      <a href="#">shipping and billing addresses</a> and
                      <a href="#">edit your password and account details.</a>
                    </p>
                  </div>
                </div>
              </div>
              <div
                class="tab-pane fade"
                id="orders"
                role="tabpanel"
                aria-labelledby="orders-tab"
              >
                <div class="card">
                  <div class="card-header">
                    <h5 class="mb-0">Your Orders</h5>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table id="orderListUser" class="table">
                        <thead>
                          <tr>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Payment</th>
                            <th>Total Amount</th>
                            <th>Products</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <%console.log(allUserOrders);%> <%
                          allUserOrders.forEach(element => { %>
                          <tr>
                            <% let orderDate = element.Date%> <% const [Date,
                            Month, Year] =
                            orderDate.toLocaleDateString().split('/') %> <%
                            const dateNow = Date + '-' + Month + '-'+ Year %>
                            <td><%= dateNow%></td>
                            <td><%= element.orderStatus %></td>
                            <td><%= element.paymentMethod %></td>
                            <td>Rs.<%= element.totalAmount %></td>
                            <td><%= element.products.length %> items</td>
                            <td>
                              <a
                                href="/view-Order-Product/<%= element._id %>"
                                class="btn-small d-block"
                                >View</a
                              >
                            </td>
                          </tr>
                          <% }) %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="tab-pane fade"
                id="wallet"
                role="tabpanel"
                aria-labelledby="wallet-tab"
              >
                <div class="card">
                  <div class="card-header">
                    <h5 class="mb-0">Your Wallet and Referal Code</h5>
                  </div>
                  <div class="card-body contact-from-area">
                    <p>
                      Copy this referal code and share it with your friends to
                      gain an amount of ₹200 in your wallet
                    </p>
                    <% if (userDetails.ReferalCode) { %>
                    <a
                      href="http://localhost:3000/signup?ReferalCode=<%=  userDetails.ReferalCode%>"
                      target="_blank"
                      >http://localhost:3000/signup?ReferalCode=<%=
                      userDetails.ReferalCode%></a
                    >
                    <% } else { %>
                    <p>Sorry, Your have no referal code to refer.</p>
                    <% } %>

                    <div class="row" style="margin-top: 10px">
                      <div class="col">
                        <% if (userDetails.Wallet) { %>
                        <div
                          style="
                            background-color: #00a68a;
                            height: 100px;
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: column;
                          "
                        >
                          <p
                            style="
                              font-size: 30px;
                              text-align: center;
                              color: aliceblue;
                            "
                          >
                            Wallet Amount
                          </p>
                          <p
                            style="
                              font-size: 20px;
                              text-align: center;
                              color: black;
                              font-weight: bolder;
                            "
                          >
                            ₹<%= userDetails.Wallet%>
                          </p>
                        </div>
                        <% } else { %>
                        <P>Sorry, You don't have a wallet</P>
                        <% } %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="tab-pane fade"
                id="address"
                role="tabpanel"
                aria-labelledby="address-tab"
              >
                <div class="row">
                  <% for( let i = 0; i < address.length; i++ ) { %>
                  <div class="col-lg-6" id="<%= address[i].Address._id%>">
                    <div class="card mb-3 mb-lg-0">
                      <div class="card-header">
                        <h5 class="mb-0">Billing Address</h5>
                      </div>
                      <div class="card-body">
                        <address>
                          <%= address[i].Address.name %><br /><%=
                          address[i].Address.address %>,<br />
                          <%= address[i].Address.city %>, <%=
                          address[i].Address.state %>, <br /><%=
                          address[i].Address.country %>. <br />Pin code: <%=
                          address[i].Address.zip %>
                        </address>

                        <a
                          href="/edit-Address/<%= address[i].Address._id%>"
                          onclick="editAddressSWT(event)"
                          class="btn-small"
                          >Edit</a
                        >
                        <button
                          class="m-l-50 text-danger btn-small"
                          onclick="deleteAddressSWT('<%= address[i].Address._id%>', event)"
                        >
                          Delete
                        </button>
                      </div>
                    </div>
                  </div>
                  <% } %>
                </div>
              </div>
              <div
                class="tab-pane fade"
                id="account-detail"
                role="tabpanel"
                aria-labelledby="account-detail-tab"
              >
                <div class="card">
                  <div class="card-header">
                    <h5>Account Details</h5>
                  </div>
                  <div class="card-body">
                    <p>
                      Already have an account?
                      <a href="/login">Log in instead!</a>
                    </p>
                    <form
                      method="post"
                      name="enq"
                      action=""
                      id="newPasswordFormId"
                    >
                      <div class="row">
                        <div class="form-group col-md-6">
                          <label>Name <span class="required">*</span></label>
                          <input
                            required=""
                            class="form-control square"
                            name="Name"
                            type="text"
                            value="<%= userDetails.Name %>"
                          />
                        </div>
                        <div class="form-group col-md-6">
                          <label
                            >Phone Number<span class="required">*</span></label
                          >
                          <input
                            required=""
                            class="form-control square"
                            name="phonenumber"
                            value="<%= userDetails.phonenumber %>"
                          />
                        </div>
                        <div class="form-group col-md-12">
                          <label
                            >Email Address
                            <span class="required">*</span></label
                          >
                          <input
                            required=""
                            class="form-control square"
                            name="Email"
                            type="email"
                            value="<%= userDetails.Email %>"
                          />
                        </div>
                        <div class="form-group col-md-12">
                          <label
                            >Current Password
                            <span class="required">*</span></label
                          >
                          <input
                            required=""
                            id="oldPassword"
                            class="form-control square"
                            name="Password"
                            type="password"
                            placeholder="&#xb7;&#xb7;&#xb7;"
                          />
                        </div>
                        <div class="form-group col-md-12">
                          <label
                            >New Password <span class="required">*</span></label
                          >
                          <input
                            required=""
                            id="newPassword"
                            class="form-control square"
                            name="nPassword"
                            type="password"
                          />
                        </div>
                        <p id="oldNewPasswordCheck" class="text-danger"></p>
                        <div class="form-group col-md-12">
                          <label
                            >Confirm Password
                            <span class="required">*</span></label
                          >
                          <input
                            required=""
                            id="confirmPassword"
                            class="form-control square"
                            name="cPassword"
                            type="password"
                          />
                        </div>
                        <p
                          id="passwordConfirmationCheck"
                          class="text-danger"
                        ></p>
                        <div class="col-md-12">
                          <button
                            type="submit"
                            class="btn btn-fill-out submit"
                            id="submitNewPassword"
                            name="submit"
                            value="Submit"
                          >
                            Save
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<!-- Profile Script -->
<script src="profilePage/assets/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="profilePage/assets/js/vendor/jquery-3.6.0.min.js"></script>
<script src="profilePage/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
<script src="profilePage/assets/js/vendor/bootstrap.bundle.min.js"></script>
<script src="profilePage/assets/js/plugins/slick.js"></script>
<script src="profilePage/assets/js/plugins/jquery.syotimer.min.js"></script>
<script src="profilePage/assets/js/plugins/wow.js"></script>
<script src="profilePage/assets/js/plugins/jquery-ui.js"></script>
<script src="profilePage/assets/js/plugins/perfect-scrollbar.js"></script>
<script src="profilePage/assets/js/plugins/magnific-popup.js"></script>
<script src="profilePage/assets/js/plugins/select2.min.js"></script>
<script src="profilePage/assets/js/plugins/waypoints.js"></script>
<script src="profilePage/assets/js/plugins/counterup.js"></script>
<script src="profilePage/assets/js/plugins/jquery.countdown.min.js"></script>
<script src="profilePage/assets/js/plugins/images-loaded.js"></script>
<script src="profilePage/assets/js/plugins/isotope.js"></script>
<script src="profilePage/assets/js/plugins/scrollup.js"></script>
<script src="profilePage/assets/js/plugins/jquery.vticker-min.js"></script>
<script src="profilePage/assets/js/plugins/jquery.theia.sticky.js"></script>
<!-- Template  JS -->
<script src="profilePage/assets/js/main.js"></script>
