<!-- Product -->
<section class="bg0 p-t-23 p-b-140" style="margin-top: 100px">
  <div class="container">
    <% if (products.length == 0) { %>
    <h1 class="text-center mt-5">Come on, Fill up your wishlist!!!</h1>
    <% } else { %>

    <div class="row isotope-grid">
      <% for( let i = 0; i < products.length; i++ ) { %>
      <div
        class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item"
        id="wishlistPage<%= products[i].productDetails._id %>"
      >
        <!-- Block2 -->
        <div class="block2">
          <div class="block2-pic hov-img0">
            <a href="/product-detailID/<%= products[i].productDetails._id %>"
              ><img
                src="../uploads/<%= products[i].productDetails.Image[0] %>"
                alt="<%= products[i].productDetails.Image[0] %>"
            /></a>

            <a
              href="/product-detailID/<%= products[i].productDetails._id %>"
              class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1"
            >
              Quick View
            </a>
          </div>

          <div class="block2-txt flex-w flex-t p-t-14">
            <div class="block2-txt-child1 flex-col-l">
              <a
                href="/product-detailID/<%= products[i].productDetails._id %>"
                class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6"
              >
                <%= products[i].productDetails.Name %>
              </a>

              <% if (products[i].finalPrice === null) { %>
              <span class="stext-105 cl3">
                Rs.<%= products[i].productDetails.Price%>
              </span>
              <% } else { %>
              <span class="stext-105 cl3">
                <sapn style="font-weight: bold">
                  Rs.<%= products[i].finalPrice%>
                </sapn>
                <sapn class="m-l-10" style="opacity: 0.6; font-size: small"
                  ><del> Rs.<%= products[i].productDetails.Price%></del>
                </sapn>
              </span>
              <!-- <span class="stext-105 cl3 ">
									Rs.<%#= products[i].productDetails.Price%>
								</span>
								<span class="stext-105 cl3 m-l-80" style="opacity: 0.6;"><del>
									Rs.<%#= products[i].productDetails.Price%></del>
								</span> -->
              <% } %>
            </div>

            <div class="block2-txt-child2 flex-r p-t-3">
              <button
                onclick="addToCart('<%= products[i].productDetails._id %>')"
              >
                <span
                  class="lnr lnr-cart m-r-20 m-b-5"
                  style="font-size: 20px; opacity: 50%"
                ></span>
              </button>

              <button
                onclick="addToWishlist('<%= products[i].productDetails._id %>')"
              >
                <!-- <img id="removedWishlist<%= products[i].productDetails._id%>" src="images/icons/icon-heart-01.png" alt="ICON"> -->
                <img
                  id="addedWishlist<%= products[i].productDetails._id%>"
                  src="images/icons/icon-heart-02.png"
                  alt="ICON"
                />
              </button>
            </div>
          </div>
        </div>
      </div>
      <% } %>
    </div>

    <!-- Load more -->
    <div class="flex-c-m flex-w w-full p-t-45">
      <a
        href="#"
        class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04"
      >
        Load More
      </a>
    </div>
    <% } %>
  </div>
</section>
